
#
# The Percona XtraDB Cluster 5.7 configuration file.
#
#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#   Please make any edits and changes to the appropriate sectional files
#   included below.
#
#
# The Percona XtraDB Cluster 5.7 configuration file.
#
#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#   Please make any edits and changes to the appropriate sectional files
#   included below.
#
[mysqld]
!includedir /etc/my.cnf.d/
!includedir /etc/percona-xtradb-cluster.conf.d/

wsrep_provider=/usr/lib64/galera3/libgalera_smm.so          #Galera库文件路径
wsrep_cluster_name=pxc-cluster          #集群的逻辑名称，各节点应该统一
wsrep_cluster_address=gcomm://192.168.111.119,192.168.111.120,192.168.111.121          #列出集群内所有节点的IP
wsrep_node_name=PXC-01                  #当前节点的逻辑名称
wsrep_node_address=192.168.111.119      #当前节点的IP
wsrep_sst_method=xtrabackup-v2          #全量同步（SST）方式
wsrep_sst_auth=harson:123456
binlog_format=ROW                   #binlog格式，PXC只支持格式为ROW的binlog
default_storage_engine=InnoDB      #PXC对InnoDB存储引擎有最好的支持
innodb_autoinc_lock_mode=2              #在向有auto_increment 列的表插入数据时，PXC只支持interleaved(2)交错锁
pxc_strict_mode=ENFORCING               #PXC严格模式，建议开启

